
/*
 *
 * some pastel colors
 *
* blue #c1e1e7 rgba(193, 225, 231, 1)
* lightpink #f8e9e6 rgba(248, 233, 230, 1)
 * mediumpink #fee5cb rgba(254, 229, 203, 1)
 * darkpink #f0908a rgba(240, 144, 138, 1)
 * green #1d5a2b rgba(29, 90, 43, 1)
 *
 */
//COLORS
$color-primary-light:   #f8e9e6; 
$color-primary:         #fee5cb;
$color-primary-dark:    #f0908a;



$color-grey-light-1: #f7f7f7;
$color-grey-dark: #1d5a2b;

$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;